body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* 1 */
header {
  text-align: center;
  background: lightblue;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header h2 {
  margin: 5px 0 0;
  font-size: 1.1rem;
  color: #444;
}

/* 5  */
.container {
  display: flex;      
  gap: 20px;           
  max-width: 1100px;
  margin: auto;
  padding: 15px;
}

main {
  flex: 3;
}

/* 3 */
.card {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card img {
  height: 120px;
  width: 80%; 
  border-radius: 16px;
  margin: 10px 0;
  border: #444;
  border-width: 6px;
  border-style: solid;

}

/* 4 */
.sidebar {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.sidebar ul {
  margin: 0;
  padding-left: 20px;
}

.sidebar li {
  margin: 8px 0;
}
